.container {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.catalog {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
